@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --background: #101010;
    --on-background: #f2f2f2;
}
.main-bg{
    background-color: #010101;
}
.tangerine{
    font-family: "Tangerine", cursive;
}
.new-font{
    font-family: "Merienda", system-ui;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.roboto{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.gowun-batang {
    font-family: "Gowun Batang", serif;
    font-weight: 400;
    font-style: normal;
  }

*::-webkit-scrollbar-track {
    background-color: #010101;
}

*::-webkit-scrollbar {
    width: 6px; 
}

*::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 10px; 
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}
.keyword{
    color: rgb(153 246 228);
    font-size: large;
}
.badge{
  background-color: rgba(82,82,91,.4);
  color: rgb(13 148 136);
}

.nav-pill {
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-color: #f2f2f20d;
    border: 1px solid #f2f2f21a;
    border-radius: 24px;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    height: 48px;
    padding-left: 6px;
    padding-right: 6px;
    transition: box-shadow 1s cubic-bezier(.23, 1, .32, 1), border .6s cubic-bezier(.165, .84, .44, 1);
    display: flex;
    position: sticky;
    box-shadow: 0 10px 25px #00000026;
  }

.nav-toggle {
    color: var(--on-background);
    text-align: center;
    border-radius: 18px;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 36px;
    text-decoration: none;
    transition: all .2s cubic-bezier(.165, .84, .44, 1);
    display: flex;
}
.nav-toggle.work:hover {
    background-image: linear-gradient(270deg, #0000, #f2f2f20d);
}

.content{
    z-index: 10;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: antiquewhite;
}

.skill-section{
    font-weight: 600;
    color: antiquewhite;
}

.welcome,.aboutme,.education,.projects{
    min-height: 90vh;
    width: 90%;
    margin: 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hint {
  animation: bounce 2s infinite;
  transition: opacity .5s ease;
  opacity: 1;
  background: transparent;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

.hint.fade-out {
  opacity: 0;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }
  